<style>
h1{
    color: rgb(22, 132, 95);
    text-align: center;
}
p{
    color: rgb(193, 18, 18);
    font-size: xx-large;
    text-align: center;
}
h2{
    color: brown;
    text-align: left;
    font-size: x-large;
}
</style>